body {
  background: #DE2828;
  font-family: sans-serif;
}

.clock {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

.clock__time {
  color: black;
  font-size: 10em;
  line-height: 10em;
  margin-top: -5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  opacity: .6;
}

.clock__hour {
}

.clock__minute {
}

.clock__second {
  opacity: .4;
}
