.clock {
  color: black;
  font-size: 10em;
  line-height: 1em;
  margin-top: -.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  opacity: .6;
}

.clock__hour {
}

.clock__minute {
}

.clock__second {
  opacity: .4;
}
