.clock {
  color: black;
  font-size: 5em;
  line-height: 1em;
  margin-top: -.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  opacity: .6;
}

.clock__hour {
}

.clock__minute {
}

.clock__second {
  opacity: .4;
}

@media only screen and (min-width: 500px) {
  .clock {
    font-size: 7em;
  }
}

@media only screen and (min-width: 800px) {
  .clock {
    font-size: 10em;
  }
}
