form {
  background: #A8DBA8;
  border-bottom: 4px solid #3B8686;
  color: #0B486B;
  margin: 0 auto;
  max-width: 20em;
  padding: 2em;
}

.field {
  margin: 0 auto;
  max-width: 20em;
  padding-top: 1em;

  label {
    display: block;
  }

  input {
    background: rgba(255,255,255, .2);
    border: 1px solid rgba(255,255,255, .2);
    font-size: 1em;
    margin-top: .5em;
    padding: .3em;
    width: 100%;

    &:hover,
    &:focus {
      border: 1px solid rgba(255,255,255, .3);
      outline: 0;
    }
  }
}

.fieldset {
  overflow: hidden;
}

.field--of-3 {
  @extend .field;
  float: left;
  margin-right: 5%;
  width: 30%;

  &:last-child {
    margin-right: 0;
  }
}

.field--button {
  @extend .field;

  button {
    background: #79BD9A;
    border: 0;
    border-bottom: 4px solid #3B8686;
    color: #0B486B;
    cursor: pointer;
    font-size: 1em;
    padding: 1em 2em;
    text-shadow: 0 1px 0 #A8DBA8;

    &:hover,
    &:focus {
      border-bottom-width: 2px;
      margin-top: 2px;
      outline: 0;
    }
  }

  form & {
    text-align: right;
  }
}
